@page
@model ConfirmEmailModel
@using Microsoft.Extensions.Localization
@using Bloogs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<Bloogs> Localizer
@{
    ViewData["Title"] = @Localizer["Confirm"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
