@page
@model RegisterConfirmationModel
@using Microsoft.Extensions.Localization
@using Bloogs
@inject IStringLocalizer<Bloogs> Localizer
@{
    ViewData["Title"] = @Localizer["Register confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
        @Localizer["check"]
</p>
