@using Bloogs.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@model Blog
@inject IStringLocalizer<Bloogs> Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = "My blog";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>


<div>
    <a asp-controller="Post" asp-action="Create">@Localizer["addpost"]</a>
</div>
<div>
    <h4></h4>
    <hr />
   
</div>
