# See http://help.github.com/ignore-files/ for more about ignoring files.

.vs/*
bin/*
obj/*

Bloogs/obj/Debug/net6.0/

Bloogs/obj/

Bloogs/bin/Debug/net6.0/
/Bloogs/appsettings.json
/Bloogs/Blog.csproj
/Bloogs/bin/Debug/net6.0/AutoMapper.dll
/Bloogs/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/Bloogs/Configurations/RoleConfiguration.cs
/Bloogs/obj/Debug/net6.0/Blog.assets.cache
/Bloogs/obj/Debug/net6.0/Blog.GeneratedMSBuildEditorConfig.editorconfig
/Bloogs/obj/Blog.csproj.EntityFrameworkCore.targets

Bloogs/bin/

.idea/
Bloogs/obj/Debug/net7.0/
