@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Bloogs> Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-group">
    <p>
    <a class="btn btn-primary btn-lg text-dark" asp-area="" asp-controller="Supervisor" asp-action="RoleManage">@Localizer["RoleManagement"]</a>
    </p>
    <p>
        <a class="btn btn-primary btn-lg text-dark" asp-area="" asp-controller="Supervisor" asp-action="UserRolesManage">@Localizer["UserRoleManagement"]</a>
    </p>
</div>
