@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="list-group">
    <p>
        <a class="btn btn-primary btn-lg text-dark" asp-area="" asp-controller="Supervisor" asp-action="RoleManage">Role Management</a>
    </p>
    <p>
        <a class="btn btn-primary btn-lg text-dark" asp-area="" asp-controller="Supervisor" asp-action="UserRolesManage">User Role Management</a>
    </p>
</div>
