@{
    ViewData["Title"] = "Project and Team";
}
<style>
    th {
      text-decoration: underline;
    }
    
    h2 + p {
        text-align: justify;
    }
</style>

<h1>@ViewData["Title"]</h1>

<h2>Description du projet</h2>
<p>Pour notre matière dotnet (ou .NET), nous avons eu pour projet de faire une application web utilisant le 
principe Model View Controller (MVC) avecS le framework asp.net core. Notre application à pour but de permettre la 
liberté d'expression par le biais de blog, qui peuvent être commenté par des utilisateurs connectés et/ou aimé.
Nous n'oublions pas les utilisateurs non connecté à notre application qui auront la possibilité de visualisé les blogs
qui auront été rendu publique si tel est le souhait de leur créateur.</p>

<table>
    <tr>
        <th>Les membres de notre projet :</th>
    </tr>
    <tr>
        <td>
            Dihia Azzedine
        </td>
    </tr>
    <tr>
        <td>
            Lydia Kahouadj
        </td>
    </tr>
    <tr>
        <td>
            Jessy Hoche
        </td>
    </tr>
    <tr>
        <td>
            Mhamed Bouyakoub
        </td>
    </tr>
    <tr>
        <td>
            Théo Pires
        </td>
    </tr>
</table>
