@{
    ViewData["Title"] = "Team Bloogs";
}
<div class="border" style=" padding:10px; border-style: groove; border: black; border-width: 6px" xmlns="http://www.w3.org/1999/html">
<h1 style="text-align: center">@ViewData["Title"]</h1>
<style>
    th {
      text-decoration: underline;
    }
    
    h2 + p {
        text-align: justify;
    }
</style>
<p style="font-family: 'Comic Sans MS'; font-size: 20px; text-align: center"> Dihia Azzedine, Jessy Hoche, Lydia Kahouadji, Théo Pires & Yacine Bouyakoub</p>

<h2 style="margin-top: 5%"> Objectif de Bloogs </h2>
    <p >Notre application vous permet de créer un blog, poster des publications et les utilisateurs authentifiés pourront aimer et commenter votre publication.
        Vous-même, vous pouvez commenter et aimer les publications postées par les autres utilisateurs. <br/>
 
        Donc, en conclusion, notre application vous permet d’interagir avec les autres utilisateurs, pouvoir les découvrir à travers leurs postes et c'est également
        une application où la liberté d'expression est permise dans le respect et la bienveillance des lecteurs.
    </p>
    
    <h2 style="margin-top: 5%"> Réalisation de Bloogs</h2>
    <p>Nous sommes 5 étudiants de l'université de Rouen Master 2 GIL(Génie de L'informatique Logicielle). Cette année, pour la première fois 
        on a eu cours de C#/.NET, afin de valider les connaissances que nous avions acquis durant ce semestre nous avons eu comme mission de réaliser 
        Bloogs! . <br/>
        
        L'application a été entièrement faite avec le framework ASP .NET MVC, tout ce qui concerne l'inscription, l'authentification, la déconnexion nous avons 
        utilisé ASP.NET Identity 
        
        

    </p>
</div>